.expense-date {
  display: flex;
  flex-direction: column;
  width: 5.5rem;
  height: 5.5rem;
  border: 1px solid #ececec;
  background-color: #2a2a2a;
  color: white;
  align-items: center;
  justify-content: center;
}

.expense-date__month {
}

.expense-date__year {
}

.expense-date__day {
}
